#root{
  padding:0 2% ;
}

#create-button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}

.rooms{
  padding: 10px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.room{
  width:200px;
  height:200px;
  margin:20px ;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid grey;
}

.room-name{
  text-align: center;
  font-weight: bold;
}

#submit-button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}

.join-button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}

.users-list{
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.progressbar {
  height: 20px; 
  position: relative; 
  background: #555; 
  padding: 3px; 
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3); 
}

.progressbar > span {
   display: block; 
   height: 100%; 
   background-color: rgb(43,194,83); 
   background-image: linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% ); 
   box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4); 
   position: relative; 
   overflow: hidden; 
  }

.circle{
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.ready{
  background-color: lightgreen;
}

.not-ready{
  background-color: crimson;
}

.game-username{
  display: inline-flex;
}

.game-user-wrapper{
 margin: 10px; 
}

#back-to-rooms-button{
  width: 150px;
  height: 60px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 20px 15px;
  margin-left: 10px;
  margin-top: 15px;
}

#game-box{
  width: 500px;
  height: 500px;
  border: 2px solid grey;
  position: absolute;
  left: 500px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center
}

.buttonRdy{
  width: 150px;
  height: 60px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 20px 15px;
  margin-left: 10px;
  margin-top: 15px;
}

#counterBeforeStart{
  font-size: 80px;
  color:grey;
}

#textForTyping{
  font-size:24px;
}

#time-left{
  position: absolute;
  left: 350px;
  top: 10px;
}